/* =========================================================================== *\
    Container
\* =========================================================================== */

/* @define Container */
.Container {
    margin: 0 auto;
    max-width: var(--Container-width);
}

.Container--pad {
    padding: 0 30px;
}

.Container--narrow {
    padding: 0 30px;
}

.Container--pad .Container--pad,
.Container--pad .Container--narrow {
    padding: 0;
}

.Container--small {
    max-width: var(--Container-small-width);
}
